<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% if title %}
        <title> {{ title }}</title>
        {% else %}
        <title> Welcome to the best Movie Review website </title>
        {% endif %}

        {% import 'macros.html' as macro%}
    </head>
    <body>
        
        <!-- popular movies category -->
        <h3>Popular movies</h3>
        <ul>
            {{% for popular_movie in popular %}}
            <li>{{ popular_movie.title }}</li>
            {{% endif %}}
        </ul>
        <!-- upcoming movies -->
        <h3>Upcoming movies</h3>
        <ul>
        {{% for upcoming_movie in upcoming %}}
        <li>{{upcoming_movie.title }}</li>
        {{% endif %}}
        </ul>
        <!-- now showing movies -->
        <h3>Nowshowing movies</h3>
        <ul>
            {{% for now_showing_movie in nowplaying %}}
            <li>
                {{now_showing_movie.title }}</li>
            </li>
            {{% endif %}}
        </ul>
         <!-- Popular movie -->
         <h3> Popular Movies</h3>
         <ul>
             {{ macro.displayMovieList(popular)}}
         </ul>
         <!-- Upcoming movie  -->
         <h3> Upcoming Movies </h3>
         <ul>
             {{ macro.displayMovieList(upcoming)}}
         </ul>
         <!-- Now showing movie -->
         <h3>Now Showing</h3>
         <ul>
             {{ macro.displayMovieList(now_showing)}}
         </ul>
    </body>
</html>
